<!DOCTYPE html>
<html>
  <head>
    <title>Rails Dice Roll</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <style>
      body {
        background-color: ##D2D0BA;
        color: #7B9E87;
      }
      body a {
        color: #99AE92;
        text-decoration: none;
      }
      .navbar {
        display: table;
        table-layout: fixed;
        width: 100%;
        border: thin solid black;
      }
      .navbar td {
        border: thin solid black;
        box-sizing: border-box;
      }
    </style>
    
  </head>

  <body>
    <table class="navbar">
      <tr>
        <td><a href="/">Home</a></td>
        <td><a href="/rock">2d6<a></td>
        <td><a href="/paper">2d10</a></td>
        <td><a href="/scissors">1d20</a></td>
        <td><a href="/scissors">4d5</a></td>
      </tr>
    </table>

    <%= yield %>

  </body>
</html>
